.App {
  display: grid;
  grid-template-rows: 80px auto 50px;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 20px
}

.body {
  display: flex;
  background: yellow;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
}